body {
  margin: 0;
  font: 16px sans-serif;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid: auto / 350px 1fr 250px;
  align-items: flex-start;
}

.text-parameters {
  grid: auto / auto 1fr;
  display: grid;
}

.text-parameters > div {
  padding: 15px 20px;
}

.text-parameters > div:not(:nth-last-child(-n + 2)) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.canvas {
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  align-self: stretch;
  overflow: hidden;
  position: relative;
}

.canvas canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.canvas-ui {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.canvas-ui.grabbing {
  cursor: grabbing;
}

.canvas-parameters {
  display: grid;
  grid: auto / auto;
}

.canvas-parameters > div:first-child {
  padding: 15px 20px 5px;
}

.canvas-parameters > div:not(:first-child):not(:last-child) {
  padding: 5px 20px 5px;
}

.canvas-parameters > div:last-child {
  padding: 5px 20px 5px;
}
